.tab-container {
  padding: 1rem;
}

.fish-diver-container {
  text-align: center;
}

.diver-path-container {
  text-align: center;
}
.teacher-training-container {
  text-align: center;
}

/* .galaxsea-park-rules-container {
  text-align: center;
} */

@media only screen and (max-width: 400px) {
  body {
    background-color: red; /* Pi */
  }

  .dive-pricing-paragraphs {
    font-size: 2.7vmin;
    width: 100%;
  }
  .fish-diver {
    width: 25vw;
    margin-left: 60px;
  }
}

.fish-diver {
  width: 25vw;
}

.diver-career-path {
  width: 100%;
}

.training-coach {
  width: 100%;
}

.marine-park-rules {
  margin-top: 1rem;
}

.galaxsea-park-rules {
  width: 40vw;
}
.dive-pricing-paragraphs {
  font-size: 2.7vmin;
  text-align: justify;
  width: 100%;
}

.training-paragraphs {
  font-size: 18px;
  text-align: justify;
  width: 100%;
}

.policies-paragraph {
  margin-top: 1rem;
}

.policies-paragraph {
  font-size: 2.7vmin;
  text-align: justify;
  width: 100%;
}
.policies-deposit-rules {
  font-size: 2.7vmin;
  text-align: justify;
  width: 100%;
}
