a:link {
  color: #bd2031;
}

a:visited {
  color: #bd2031;
}

.trip-advisor-col-title {
  text-align: left;
  font-style: italic;
  color: green;
}

.trip-advisor-img {
  height: 2.5rem;
  width: auto;
}
.review-quote {
  font-style: italic;
  text-align: justify;
}

.review-date {
  font-size: 0.7rem;
  text-align: right;
}

.social-icons {
  margin: 10px;
}

.ssi-logo {
  margin: 10px;
  max-width: 160px;
  max-height: 160px;
}

.trip-advisor-logo {
  text-align: justify;
}

.email-us {
  margin-bottom: 7px;
}
