/* TODO: need to use variables here */
a:link {
  color: #bd2031;
}

a:visited {
  color: #bd2031;
}

.weatherCard {
  /* background-color: var(--english-blue-color) !important; */
  margin: 15px;
  /* NOT working properly still needs to be fixed */
  /* min-width: 200px; */
}

.weatherHeader {
  color: var(--gray-text-color);
  background-color: var(--english-blue-color-75);
  font-size: 0.75rem !important;
  /* filter: brightness(150%); */
}

.temperature-text {
  font-size: 2rem;
  padding: 10px;
}

.summary-text {
  font-size: 1rem;
  display: block;
}

.weather-vitals {
  margin: 6px;
  display: inline-block;
}

.date-text {
  text-align: center;
  font-size: 0.75rem;
  width: 100%;
}

.feels-like-text,
.wind-text,
.humidity-text,
.pressure-text,
.uv-index-text {
  text-align: left;
  font-size: 0.75rem;
  display: block;
  width: 100px;
}

.weatherFooter {
  color: var(--gray-text-color);
  background-color: var(--english-blue-color-75);
  font-size: 0.75rem !important;
}
