body {
  --english-blue-color: #0d0d52;
  --english-blue-color-75: #423480;
  --english-blue-color-50: #715eb0;
  --english-blue-color-25: #a38ce3;
  --white-text-color: #fff;
  --gray-text-color: #aea8ba;
}
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Site {
}

.Site-content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 2rem;
}

.App-home {
}

.App-footer {
  min-width: 100%;
  margin-top: 20px;
  /* push to bottom */
  align-self: flex-start;
  /* collapse to own width */
  margin-left: auto;
  /* centering */
  margin-right: auto;
}
