.picture-gallery {
  margin: 15px auto;
  width: 450px;
  /* TODO: remove this line below */
  /* border: 1px solid green; */
}


/* mobile styles */
@media only screen and (max-width: 300px) {
  body {
    background-color: green; /* Pi */
  }
  .picture-gallery {
    width: 100%;
  }
}